body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
}

li{
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 20px 50px;
}

.introduction {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.introduction-text {
    width: 500px;
}

.introduction-title {
    font-size: 48px;
    font-weight: bolder;
}

.introduction-description {
    font-size: 18px;
    
}

.introduction-image{
    max-width:600px;
    max-height:500px;
    width:auto;
    height:auto;
    margin:20px 30px;
}

.information-container {
    display: flex;
    justify-content: center;
}

.information-content {
    text-align: center;
}

.information-title {
    text-align: center;
}

.information-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    border: 3px solid #3882F6;
    padding: 0px;
    margin: 10px 30px;
}

.quote {
    padding: 100px 200px;
    background-color: #e5e7eb;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.quote-author{
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box{
    background-color: #3882F6;
    color: #f9faf8;
    display: flex;

    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 150px;
    margin: 20px 0px;

    justify-content: space-around;
    align-items: center;
}

.call-to-action-text {
    
}

.sign-up-button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 25px;
    border: 3px solid #f9faf8;
    padding: 30px 50px;
}

.footer {
    text-align: center;
    color: white;
    background-color: #1f2937;
    padding: 30px;
}